<!DOCTYPE html>
-<html lang="es">
 <head>
   <link rel="stylesheet" href="styles.css">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Excercise</title>
 </head>
 <body>

   <nav class="navbar">
     <div class="hamburger-button toggleSidenav">
       <div class="bar1"></div>
       <div class="bar2"></div>
       <div class="bar3"></div>
     </div>
     <ul class="navbar__list">
       <li class="navbar__item">
         <a class="navbar__link" href="">HOME</a>
       </li>
       <li class="navbar__item">
         <a class="navbar__link" href="">SHOP</a>
       </li>
       <li class="navbar__item">
         <a class="navbar__link" href="">SPECIALS</a>
       </li>
       <li class="navbar__item">
         <a class="navbar__link" href="">SUPPORT</a>
       </li>
       <li class="navbar__item">
         <a class="navbar__link" href="">CYCLING CLUB</a>
       </li>
       <li class="navbar__item">
         <div class="inline">
           <input type="text" name="inputSearch" class="input-search" />
         </div>
       </li>
     </ul>
   </nav>

   <nav class="sidenav">
     <span class="toggleSidenav">x</span>
     <ul class="sidenav__list">
       <li class="sidenav__item">
         <a class="sidenav__link" href="">HOME</a>
       </li>
       <li class="sidenav__item">
         <a class="sidenav__link" href="">SHOP</a>
       </li>
       <li class="sidenav__item">
         <a class="sidenav__link" href="">SPECIALS</a>
       </li>
       <li class="sidenav__item">
         <a class="sidenav__link" href="">SUPPORT</a>
       </li>
       <li class="sidenav__item">
         <a class="sidenav__link" href="">CYCLING CLUB</a>
       </li>
     </ul>
   </nav>

   <div class="image">
     <div class="image-content">
       <div class="text-header"><span class="font-header">Hill Valley Drums</span></div>
     </div>
   </div>

   <div class="content">
     <div class="block">
       <div class="image-grid">
         <img src="drum1.jpg" class="image-content-grid" />
       </div>
       <div class="title-grid headers-grid-text">
         The all new
       </div>
       <div class="subtitle-grid headers-grid-text">
         Lightning Bolt
       </div>
       <div class="text-grid">
         lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
         lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
       </div>        
     </div>
     <div class="block">
       <div class="image-grid">
         <img src="drum2.jpg" class="image-content-grid" />
       </div>
       <div class="title-grid headers-grid-text">
         The all new
       </div>
       <div class="subtitle-grid headers-grid-text">
         Lightning Bolt
       </div>
       <div class="text-grid">
         lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
         lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
       </div>        
     </div>
     <div class="block" id="block3">
       <div class="image-grid">
         <img src="drum1.jpg" class="image-content-grid" />
       </div>
       <div class="title-grid headers-grid-text">
         The all new
       </div>
       <div class="subtitle-grid headers-grid-text">
         Lightning Bolt
       </div>
       <div class="text-grid">
         lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
         lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
       </div>        
     </div>
     <div class="block" id="block4">
       <div class="image-grid">
         <img src="drum2.jpg" class="image-content-grid" />
       </div>
       <div class="title-grid headers-grid-text">
         The all new
       </div>
       <div class="subtitle-grid headers-grid-text">
         Lightning Bolt
       </div>
       <div class="text-grid">
         lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
         lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
       </div>        
     </div>

     <div class="block2">
       <div class="block-slogan">
         <span class="title-slogan">
           "lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
           lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem"
         </span>
         <span class="author-slogan">-Damian Ruiz</span>
       </div>
       <div class="grid-rigth inline">
         <div class="subtitle-grid headers-grid-block">
           lorem ipsum lorem ipsum lorem ipsum
         </div>
         <div class="text-grid-block">
           lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
           lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
           lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
         </div>
         <div class="image-grid text-grid-block">
           <img src="drum2.jpg" class="image-content-grid" />
         </div>
       </div>
     </div>

     <div class="button-content">
       <a class="button">Find Yout Perfect Drum</a>
     </div>
   </div>
   <script async src="index.js"></script>
 </body>
-</html>